*.local.nix
modules/users/local.nix
config/fish/fish_variables
config/fish/completions/docker.fish
config/fish/completions/kubectl.fish
config/fish/completions/orbctl.fish
config/karabiner/karabiner.json.*.bak
config/hypr/current-wallpaper
