/* Catppuccin Mocha Theme - Named Colors */
@define-color ctp-base #1e1e2e;
@define-color ctp-mantle #181825;
@define-color ctp-crust #11111b;
@define-color ctp-surface0 #313244;
@define-color ctp-surface1 #45475a;
@define-color ctp-surface2 #585b70;
@define-color ctp-overlay0 #6c7086;
@define-color ctp-overlay1 #7f849c;
@define-color ctp-overlay2 #9399b2;
@define-color ctp-subtext0 #a6adc8;
@define-color ctp-subtext1 #bac2de;
@define-color ctp-text #cdd6f4;
@define-color ctp-lavender #b4befe;
@define-color ctp-blue #89b4fa;
@define-color ctp-sapphire #74c7ec;
@define-color ctp-sky #89dceb;
@define-color ctp-teal #94e2d5;
@define-color ctp-green #a6e3a1;
@define-color ctp-yellow #f9e2af;
@define-color ctp-peach #fab387;
@define-color ctp-maroon #eba0ac;
@define-color ctp-red #f38ba8;
@define-color ctp-mauve #cba6f7;
@define-color ctp-pink #f5c2e7;
@define-color ctp-flamingo #f2cdcd;
@define-color ctp-rosewater #f5e0dc;

/* Wallust-compatible variables using Catppuccin colors */
@define-color cursor @ctp-rosewater;
@define-color background @ctp-mantle;
@define-color foreground @ctp-text;
@define-color color0  @ctp-surface1;
@define-color color1  @ctp-red;
@define-color color2  @ctp-green;
@define-color color3  @ctp-yellow;
@define-color color4  @ctp-blue;
@define-color color5  @ctp-mauve;
@define-color color6  @ctp-teal;
@define-color color7  @ctp-subtext1;
@define-color color8  @ctp-surface2;
@define-color color9  @ctp-red;
@define-color color10 @ctp-green;
@define-color color11 @ctp-peach;
@define-color color12 @ctp-blue;
@define-color color13 @ctp-mauve;
@define-color color14 @ctp-teal;
@define-color color15 @ctp-text;