@import "../../.cache/wallust/waybar.css";
/* @import "./catppuccin-theme.css"; */

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@background, 0.8);
  /* 90% opacity */
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @color0;
  color: @foreground;
}

#workspaces button.active {
  color: @color0;
  background-color: @foreground;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @color0;
  background-color: @foreground;
}

#workspaces button.urgent {
  background-color: @color1;
}

#memory,
#custom-power,
#custom-notification,
#custom-theme,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @color0;
  color: @background;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: @color4;
}

#memory {
  background-color: @color11;
}

#battery {
  background-color: @color1;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @color9;
  color: @color3;
}

#battery.charging {
  background-color: @color2;
  color: @background;
}

#backlight {
  background-color: @color11;
}

#wireplumber {
  background-color: @color3;
}

#network {
  background-color: @color6;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @color5;
}

#custom-power {
  background-color: @color15;
}

#custom-notification {
  background-color: @foreground;
}

#custom-theme {
  background-color: @color13;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @background;
}

tooltip label {
  padding: 5px;
  background-color: @background;
}
